table, th, td {
    border-bottom: 2px solid rgb(7, 7, 7);
    border-collapse: collapse;
    padding: 8px;
    text-align: center;
}

table {
    margin: auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;   
}

th {
    background-color: rgb(190, 190, 190);
}

.table-container {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.table-name {
    margin: 10px;
    font-size: 30px;
}

tr:nth-child(even) {
    background-color: aquamarine;
}

tr:nth-child(odd) {
    background-color: rgb(92, 133, 248);
}